// COLORS

$pv-bg: #150b1c;
$pv-bg-overlay: #2c202d;
$pv-bg-overlay-2: #3a2b38;
$pv-bg-overlay-3:#1E1423;
$pv-orange-1: #c25129;
$pv-white-2: #bebbc0;

// SIZES

$pv-s-1: 1rem;
$pv-s-2: 2rem;
$pv-s-3: 3rem;
$pv-s-4: 4rem;
$pv-s-5: 5rem;
