@keyframes bouncing {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(8px);
  }
}

@keyframes turn {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(560deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}