.primary-button {
  text-transform: none !important;
  border-radius: 40px !important;
  background: var(--v-primary-base) !important;
  height: 56px !important;
  color: white !important;
  box-shadow: none !important;
  width: 100%;
}

.secondary-button {
  text-transform: none !important;
  border-radius: 40px !important;
  background: var(--v-primary2-base) !important;
  height: 56px !important;
  color: white !important;
  box-shadow: none !important;
  width: 100%;
}

.third-button {
  background-color: transparent !important;
  border-radius: 40px !important;
  border: 2px solid var(--v-primary2-base);
  color: var(--v-primary2-base) !important;
  padding: 8px 32px !important;
  text-transform: none !important;
  font-size: 16px !important;
  box-shadow: none !important;
  transition: all 0.4s !important;
  height: 56px !important;
  width: 100%;
}
