.primary-input {
  background-color: #ffdfcc;
  width: 100%;
}
.v-btn__content {
  color: white !important;
}
.v-btn:disabled {
  opacity: 0.2 !important;
}
.primary-input input {
  font-size: 16px !important;
}
.theme--light.v-text-field--filled > .v-input__control > .v-input__slot {
  background: white !important;
}
.theme--light.v-text-field--solo > .v-input__control > .v-input__slot {
  background-color: #271e2e !important;
}
/* .inputBlack .theme--light.v-input input,
.inputBlack .theme--light.v-input textarea {
  color: rgb(0, 0, 0) !important;
} */
.v-text-field > .v-input__control > .v-input__slot > .v-text-field__slot {
  margin-left: 10px !important;
  color: white !important;
}
.theme--light.v-label {
  color: #6b7474 !important;
}
.theme--light.v-messages {
  color: rgb(0, 0, 0) !important;
}

.inputNick .theme--light.v-icon {
  color: #000000 !important;
}

.otp-input .v-input__slot {
  height: 100px;
  background: #271e2e !important;
  user-select: none !important;
  max-width: 100px;
}

.otp-input fieldset {
  border: none !important;
}

.otp-input input {
  font-size: 30px !important;
  color: white !important;
  text-transform: uppercase !important;
  outline: none !important;
}

.otp-input .v-input__control {
  max-width: 100px !important;
}
.otp-input .v-input {
  max-width: 100px !important;
}

.otp-input input {
  user-select: none !important;
}
